.footer {
  background-color: #07233b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 100px;
  margin: 50px -9% -9% -9%;
  width: calc(100% +14%);
  box-sizing: border-box;
  position: relative;
}

.footer-logo {
  max-width: 100%;
  max-height: 100%;
}

.footer-logo img {
  width: 100%;
  height: auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.footer-links h3,
.footer-social-media h3 {
  margin: 0;
}
.footer-links button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  font-size: 0.8rem;
  margin: 0;
  text-align: left;
}

.footer-social-media,
.company-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.footer-social-media a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-social-media a:hover,
.footer-links button:hover,
.developer-credit a:hover {
  text-decoration: underline;
}

.company-address h3 {
  margin: 0;
}
.company-address p {
  margin: 0;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    padding: 50px 20px;
    gap: 31px;
    justify-content: flex-start;
  }
  .footer-logo img {
    width: 70%;
    height: auto;
  }
  .footer-links,
  .footer-social-media {
    gap: 5px;
  }
  .footer-links h3,
  .footer-social-media h3,
  .company-address h3 {
    font-size: 0.9rem;
  }

  .footer-social-media a,
  .company-address p,
  .footer-links button,
  .developer-credit a,
  .developer-credit p {
    line-height: 1;
    font-size: 0.6rem;
  }

  .developer-credit {
    left: 20px;
    bottom: 0;
  }
}

/*******developer credit *********/
.developer-credit {
  background-color: #07233b;
  color: rgb(129, 129, 129);
  position: absolute;
  bottom: 10px;
  right: 50px;
  font-size: 0.8rem;
  margin: 0;
}
.developer-credit a {
  color: inherit;
  text-decoration: none;
}
